<style>
a{
color:#FFFFFF;
font-size:24px;
}
a:hover{
color:green;
}
nav{
 padding: 0px 0;
 min-width: 500px;
}
nav ul{
background: linear-gradient(90deg,
rgba(0,0,0,0)0%,
rgba(0,0,0,0.2)25%,
rgba(0,0,0,0.2)75%,
rgba(0,0,0,0)100%);
box-shadow:0 0 25px rgbs(0,0,0,0.1),
inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li{
display: inline-block;
}
nav ul li a{
padding:10px;
color: #FFFFFF;
font-size: 24px;
font-family:Arial;
text-decoration:none;
display: block;
}
h1{
color:white;
}
</style>